<h1>Stock Search</h1>

<%= form_with url: root_path, method: :get, local: true do %>
    <%= label_tag :symbol, "Enter Stock Symbol:" %>
    <%= text_field_tag :symbol, params[:symbol] %>
    <%= submit_tag "Search" %>
<% end %>

<% if @error %>
    <p style="color: red;"><%= @error %></p>
<% end %>

<% if @stock_name && @stock_price_per_share %>
    <h2>Results for <%= @stock_name %></h2>
    <p>Stock Price: $<%= @stock_price_per_share %></p>

    <%= render partial: "transactions/transaction_form", locals: { stock_name: @stock_name, stock_price_per_share: @stock_price_per_share } %>
<% end %>


