
<%= form_with model: @transaction, method: :post, local: true do |f| %>
    <%= f.hidden_field :stock_name, value: stock_name %>
    <%= f.hidden_field :stock_price_per_share, value: stock_price_per_share %>
     <div class="border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="font-medium text-gray-200"><%= f.label :quantity %></dt>
                <dd class="mt-1 text-gray-700 sm:col-span-2 sm:mt-0"><%= f.number_field :quantity, value: 1, min: 1, 
                    class:"bg-indigo-950 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" %></dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="font-medium text-gray-200"><%= f.label :transaction_type %></dt>
                <dd class="mt-1 text-gray-700 sm:col-span-2 sm:mt-0"><%= f.select :transaction_type, 
                    options_for_select(["Buy", "Sell"]),
                    {},
                    class:"bg-indigo-950 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-3" %></dd>
            </div>
        </dl>
    </div>
    <%= f.submit "Submit Transaction", class:"p-2.5 text-sm font-medium text-white rounded-lg border bg-gray-900 border-gray-200 hover:bg-gray-50 focus:ring-4 focus:outline-none dark:border-gray-700 dark:hover:bg-gray-600" %>
<% end %>
