<h1 class="font-semibold text-2xl mb-4">Transaction History</h1>
<div class="mx-2">
    <%= form_with url: transactions_path, method: :get, local: true do %>
        <%= select_tag :symbol, options_for_select(["All"] + @user_stock_names, params[:symbol]), onchange: "this.form.submit();" %>
    <% end %>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-200 uppercase bg-indigo-950">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Stock Price Per Share
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Price
                </th>
                 <th scope="col" class="px-6 py-3">
                    Transaction Type
                </th>
                 <th scope="col" class="px-6 py-3">
                    Transaction Date
                </th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |t| %>
                <tr class="border-b border-violet-950 text-gray-200 odd:bg-indigo-900 even:bg-gray-800 hover:bg-gray-50 hover:text-gray-900">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        <%= t.stock_name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= t.quantity %>
                    </td>
                    <td class="px-6 py-4">
                        <%= t.stock_price_per_share %>
                    </td>
                    <td class="px-6 py-4">
                        <%= t.total_price %>
                    </td>
                    <td class="px-6 py-4 <%= 'text-rose-500' if t.transaction_type == 'Sell' %> <%= 'text-emerald-500' if t.transaction_type == 'Buy' %>">
                        <%= t.transaction_type %>
                    </td>
                    <td class="px-6 py-4">
                        <%= t.created_at.strftime("%Y-%m-%d") %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>