<h1>Transaction Details</h1>

<p><strong>Stock Name:</strong> <%= @transaction.stock_name %></p>
<p><strong>Stock Price per Share:</strong> $<%= @transaction.stock_price_per_share %></p>
<p><strong>Quantity:</strong> <%= @transaction.quantity %></p>
<p><strong>Total Price:</strong> $<%= @transaction.total_price %></p>
<p><strong>Transaction Type:</strong> <%= @transaction.transaction_type %></p>

