<h1 class="font-semibold text-2xl mb-4">Transaction Details</h1>

<div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="font-medium text-gray-200">Stock Name:</dt>
            <dd class="mt-1 text-gray-200 sm:col-span-2 sm:mt-0"><%= @transaction.stock_name %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="font-medium text-gray-200">Stock Price per Share:</dt>
            <dd class="mt-1 text-gray-200 sm:col-span-2 sm:mt-0">$<%= @transaction.stock_price_per_share %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="font-medium text-gray-200">Quantity:</dt>
            <dd class="mt-1 text-gray-200 sm:col-span-2 sm:mt-0"><%= @transaction.quantity %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="font-medium text-gray-200">Total Price:</dt>
            <dd class="mt-1 text-gray-200 sm:col-span-2 sm:mt-0">$<%= @transaction.total_price %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="font-medium text-gray-200">Transaction Type:</dt>
            <dd class="mt-1 sm:col-span-2 sm:mt-0 <%= 'text-rose-500' if @transaction.transaction_type == 'Sell' %> <%= 'text-emerald-500' if @transaction.transaction_type == 'Buy' %>"><%= @transaction.transaction_type %></dd>
        </div>
    </dl>
</div>

<%= link_to "Back", root_path, class:"btn p-2.5 text-sm font-medium text-white rounded-lg border bg-gray-900 border-gray-200 hover:bg-gray-50 focus:ring-4 focus:outline-none dark:border-gray-700 dark:hover:bg-gray-600" %>